<div class="html5-container">
  <div class="canvas">
    <p>canvas</p>
    <div class="canvas-one">
      <canvas id="myCanvas" width="200" height="100" #canvasOne></canvas>
    </div>
    <div class="canvas-two">
      <div class="two-help">
        <canvas id="myCanvas-two" width="200" height="100" #canvasTwo></canvas>
      </div>
    </div>
  </div>


  <section class="input">
    <p>input</p>
    <div class="body">
      <input type="text" autofocus placeholder="23333">
      <input type="color">
      <input type="datetime-local">
      <input type="number" min="1" max="5" value="5">
      <input type="url">
      <input list="browsers">
      <datalist id="browsers">
        <option value="Internet Explorer">
        <option value="Firefox">
        <option value="Chrome">
        <option value="Opera">
        <option value="Safari">
      </datalist>
      <input type="file" multiple>
    </div>
  </section>
</div>
